<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">Create a New Task</a></li>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    Miriam's TaskManager. Find more at <a href="https://github.com/mirjoy">github.com/mirjoy</a>.
  </footer>
</body>
</html>
